#bin1, #bin2, #canvas {
  width: 25%;
  height: 600px;
  background: #aaa;
  float: left;
  margin: 3.5% 0px;
}

#bin2 {
  float: right;
}

#canvas {
  width: 43%;
  margin: 3.5%;
  border: 1px solid #c2c2c2;
  background: none;
}

.thumb {
  background: #333;
  padding: 10px;
  margin: 10px;
}

.thumb video {
  width: 100%;
}

[draggable=true] {
  cursor: move;
}

video {
  cursor: pointer !important;
}

#audioSource, #videoSource {
  width: 48%;
  height: 100px;
  float: left;
  border-bottom: 1px solid #c2c2c2;
}

#audioSource {
  border-right: 1px solid #c2c2c2;
}

#videoSource {
  border-left: 1px solid #c2c2c2;
  float: right;
}

#mashup {
  
}

