body {
  padding: 1% 5%;
}
h1 {
  font-size: 205%;
  display: inline;
}
.controls a {
  float: right;
  margin: 3px;
}
#bin1, #bin2, #canvas {
  width: 24%;
  min-height: 580px;
  float: left;
  margin: 3.5% 0px;
}

#bin1, #bin2 {
  padding: 1.5% 0;
  text-align: center;
  min-height: 545px;
  
}

#bin2 {
  float: right;
}

#canvas {
  width: 43%;
  margin: 3.5%;
  border: 1px solid #c2c2c2;
  background: none;
}

.thumb {
  background: #333;
  padding: 5%;
  margin: 5%;
  width: 80%;
  cursor: move;
}

#audioSource, #videoSource {
  width: 40%;
  height: 150px;
  float: left;
  border-bottom: 1px solid #c2c2c2;
  padding: 4%;
  text-align: center;
}

#audioSource {
  border-right: 1px solid #c2c2c2;
}

#videoSource {
  border-left: 1px solid #c2c2c2;
  float: right;
}

#newVideo{
  width: 100%;
}

.controls {
  margin: 10px;
}